.button{
  background-color: dodgerblue;
  height: 40px;
  padding:0 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  color:#eee;
  font-weight: bold;
  cursor:pointer;
  border: none;
  transition: all 0.5s ease;
}

.button:hover{
  background: #444;
  color:dodgerblue;
}
